{% extends "layout.html" %} 

{% block title %}My to-do-list {{date}}{% endblock %}

{% block main %}
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">My To-do list {{date}}</span>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row text-center">
          <div class="col me-2">
            <h3 class="mb-5">Available Tasks</h3>
                <form action="/add_new_task" method="post">
                    <div class="mb-5">
                        <input type="text" class="form-control" name="new-task" placeholder="Enter a task and press enter" aria-describedby="addTask">
                    </div>
                </form>
                <div class="mb-5 text-start">
                {% for task in tasks %}
                <p class="d-inline-flex align-content-between">
                  <span class="material-symbols-outlined me-2">event</span>{{ task.name }} 
                  <button class="border-0 btn-outline-light ms-2"><a class="text-decoration-none text-dark" href="{{ url_for('add_to_progress', task_id=task.id ) }}">Start</a></button><button class="border-0 btn-outline-light ms-2"><a class="text-decoration-none text-dark" href="{{ url_for('delete_new_task', task_id=task.id ) }}">Delete</a></button></p><br>
                {% endfor %}
              </div>
          </div>
          <div class="col">
            <h3 class="mb-5">In progress</h3>
            <p>Column</p>
          </div>
          <div class="col ms-2">
            <h3 class="mb-5">Completed</h3>
              <p>Column</p>
          </div>
        </div>
      </div>
{% endblock %}